body{
background-image: url("arcade.jpg");
background-size: cover;
background-repeat: no-repeat;
color:white;
text-align: center;
font-family: Ubuntu, Verdana, sans-serif;
height: 100vh;
}

h1{
text-shadow: 2px 3px 3px white;

}

#cajaJuego{
background-color: rgba(255,255,255,0.8);
width: 50%;
  paddin: 2em;
margin: auto;
border-radius: 2em;
margin-top: 3em;
  color:black;
}

#num{
font-size: 2em;
padding: 0.5em;
  margin:1em;
border-color: whitesmoke;
border-radius: 10px;
width: 2em;
clear: both;
}

#num:focus{
background-color: #F6FDB4;
}

#dale{
width: 5em;
border-radius: 10px;
background-color: orangered;
color: white;
font-size: 1.5em;

}


ul{
padding: 0;
margin: 0;}

ul li{
font-size:1em; 
text-decoration: none;
list-style: none;
padding: 0;
margin: 0;
color: #000EFF;
font-weight: bold;
padding-right: 1em;
display: inline-block;
animation: hola 1s ease;

}

@keyframes hola{
0%{opacity: 0;}
25%{transform:skew(30deg);}
50%{font-size: 2em;
transform: skew(-30deg)}
70%{font-size: 2em;
transform: skew(30deg)}
100%{opacity: 1;
font-size: 1em;}
}
